body {
  background: linear-gradient(75deg, #d1d1d1 0%, #25c24a 100%);
  background: none;
}
.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
.light-container {
  background: #3f3f3f;
  background-image: linear-gradient(-180deg, #3f3f3fw 0%, #505050 100%);
  border-radius: 15px;
  border: 3px dotted rgba(255, 255, 255, 0.1);
  box-shadow: 3px 3px 15px rgba(50, 50, 50, 0.5);
  max-width: 300px;
  height: 140px;
  max-height: 125px;
  min-height: 125px;
  padding: 15px;
  transition: max-width 0.3s linear 0.2s, max-height 0.3s linear 0.2s,
    height 0.3s linear 0.2s;
  overflow: hidden;
  position: relative;
  bottom: 70px;
  left: 10px;
}
.light-container-inner {
  display: flex;
  justify-content: center;
}
.light-inner {
  text-align: center;
  background: #2a2a2a;
  border-radius: 0px;
  height: 90px;
  width: 99%;
}
.light-circ {
  margin-left: 10px;
  height: 60px;
  width: 60px;
  overflow: hidden;
}
.light-circ div {
  height: 75%;
  margin-top: 5%;
}

.c1i {
  background: #454f32;
}
.c2i {
  background: #7f4f00;
}
.c3i {
  background: #781706;
}
.c4i {
  height: 75%;
  margin-top: 21% !important;
  background: #5c546d;
}
.c4 .fas {
  font-size: 2em !important;
  top: 20 !important;
}
.c1 {
  margin-left: 0px !important;
  background: #82905e;

  border-radius: 360px;
}
.c2 {
  background: #f39200;
  border-radius: 360px;
}
.c3 {
  background: #e51d1c;

  border-radius: 360px;
}
.c4 {
  background: #40394e;
  border-radius: 360px;
  display: none;
  opacity: 0;
  transition: opacity 1s linear !important;
}
.light-circ:hover .fas {
  color: rgba(225, 225, 225, 0.5);
}
.c1:hover {
  box-shadow: 0px 0px 25px rgba(152, 215, 155, 0.5);
}
.c2:hover {
  box-shadow: 0px 0px 25px rgba(232, 199, 86, 0.5);
}
.c3:hover {
  box-shadow: 0px 0px 25px rgba(212, 40, 32, 0.8);
}
.c4:hover {
  box-shadow: 0px 0px 25px rgba(130, 112, 167, 0.5);
}
.overwrite-fas {
  position: relative;
  top: 13px !important;
  color: rgba(225, 225, 225, 0.3);
  font-size: 2.7em;
  font-weight: bold;
}
.cmt {
  opacity: 1;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  height: auto !important;
  width: 0;
  transition: opacity 0s linear, padding 0s linear, width 0.3s linear 0.2s,
    height 0.3s linear 0.2s;
  overflow: hidden;
}

/* These are copies of bootstraps styles so they can be modularized
and not affected by the rest of the application. Probably all Bootstrap
styles should be added here. Feels like there's a better way to avoid 
CSS colisions. Either way these are bootstrap 3 and 4 styles copied modularized */

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.expand {
  height: auto !important;
  max-height: 200px !important;
  max-width: 400px !important;
}

.show-quotes-option {
  display: block !important;
  opacity: 1 !important;
  transition: opacity 1s linear !important;
}

.show-cmt {
  opacity: 1 !important;
  display: flex !important;
  width: auto !important;
  height: auto !important;
  padding: 5px !important;
}
