.scoreboard-rankings-section .scoreboard-rankings-header-column {
  background: #212121;
  border-top: 3px dashed gray;
}

.scoreboard-rankings-section .scoreboard-rankings-header {
  color: white;
  padding: 30px;
  padding-top: 30px;
}

.scoreboard-rankings-section .scoreboard-rankings-icons {
  position: relative;
  margin-top: -55px;
  padding: 15px;
  z-index: 999;
  margin-bottom: -15px;
}

.scoreboard-rankings-section .scoreboard-rankings-header-row .fa-search {
  cursor: pointer;
}

.textFont {
  font-family: "League Spartan Bold", arial, serif;
}

.scoreboard-rankings-header-row {
  padding: 15px 25px 15px 25px;
  background: #0094ff;
}
