img.bgImage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.LR-announcement-bar {
  width: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 10px 0;
  position: relative;
  z-index: 1;
}

.LR-announcement-bar .LR-announcement {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  text-shadow: 0 1pt rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0 10px;
}

.LR-announcement-bg-color-container {
  background: rgba(0, 163, 255, 0.44);
}

.LR-box-divider-wrapper {
  width: 10px;
  min-height: 190px;
  float: left;
}

.LR-box-divider {
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background: #000;
}

.LR-box-wrapper {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

 {
  width: 100%;
  text-align: left;
  margin: 27px auto 0;
}

.LR-box-container {
  width: 100%;

  max-width: 700px;
  margin: 80px 0 50px;
}

.LR-box-inner {
  width: 100%;
  margin: 0 auto;
}

.LR-site-title {
  padding: 0;
  margin: 0;
  font-size: 50px;
  line-height: 1.5em;
  color: #fff;
  position: relative;
  z-index: 2;
  color: #000;
  max-width: 600px;
  text-align: left;
  font-weight: 600;
}

.LR-site-tagline {
  margin: 0 0 20px;
  font-size: 70px;
  font-weight: 400;
  color: #fff;
}

.LR-site-tagline p {
  padding: 5px 20px 0;
  line-height: 1.2em;
  color: #fff;
  display: inline-block;
  clear: both;
  float: left;
  margin: 10px 0 0;
  background: rgb(23, 23, 23);
}

.LR-site-description {
  font-weight: 300;
  margin: 0;
  width: 100%;
  font-size: 20px;
  max-width: 380px;
  text-align: left;
  letter-spacing: 1px;
  line-height: 1.3em;
  color: white;
}

.LR-site-description p,
.LR-site-incentive p {
  margin: 0 0 15px;
}

.LR-sign-up-container {
  position: relative;
  max-width: 350px;
  margin: 30px 0 0;
  width: 100%;
}

.LR-sign-up-container-inner {
  margin: 0;
  width: 100%;
}

.LR-sign-up-label {
  font-size: 14px;
  display: block;
  margin: 0 5px 5px;
}

.rokkitt {
  font-family: "Rokkitt", serif;
}

.LR-clearfix {
  *zoom: 1;
}
.LR-sign-up-label {
  font-size: 14px;
  display: block;
  margin: 0 5px 5px;
}

input[type="email"].LR-sign-up-input,
input[type="text"].LR-sign-up-input,
input[type="date"].LR-sign-up-input,
input[type="tel"].LR-sign-up-input,
input[type="number"].LR-sign-up-input {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 0;
  background-color: #fff;
  font-size: 12px;
  color: #5c5c5c;
  padding: 10px 12px 8px 12px !important;
  border: 0;
  float: left;
  line-height: 18px;
  width: 270px;
  padding: 0px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.input[type="email"].LR-sign-up-input:focus,
input[type="text"].LR-sign-up-input:focus,
input[type="text"].LR-sign-up-input:focus,
input[type="tel"].LR-sign-up-input:focus,
input[type="text"].LR-sign-up-input:focus {
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

input[type="submit"].LR-sign-up-submit {
  margin: 0;
  cursor: pointer;
  z-index: 2;
  right: 0;
  top: 0;
  border: none;
  color: #ffffff;
  padding: 9px 12px !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #168b47;
  *background-color: #0044cc;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#55ba3f),
    to(#168b47)
  );
  background-image: -webkit-linear-gradient(top, #55ba3f, #168b47);
  background-image: -o-linear-gradient(top, #55ba3f, #168b47);
  background-image: linear-gradient(to bottom, #55ba3f, #168b47);
  background-image: -moz-linear-gradient(top, #55ba3f, #168b47);
  background-repeat: repeat-x;
  border-color: #55ba3f #55ba3f #168b47;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr="#ff0088cc",
      endColorstr="#ff0044cc",
      GradientType=0
    );
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  float: left;
  padding: 10px 5%;
  text-align: center;
  max-height: 38px;
  line-height: 18px;
  width: 15%;
  padding: 0px;
  min-width: 48px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

input[type="submit"].LR-sign-up-submit:hover,
input[type="submit"].LR-sign-up-submit[disabled] {
  color: #ffffff;
  background-color: #168b47;
  *background-color: #168b47;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#168b47),
    to(#168b47)
  );
  background-image: -webkit-linear-gradient(top, #168b47, #168b47);
  background-image: -o-linear-gradient(top, #168b47, #168b47);
  background-image: linear-gradient(to bottom, #168b47, #168b47);
  background-image: -moz-linear-gradient(top, #168b47, #168b47);
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr="#168B47",
      endColorstr="#168B47",
      GradientType=0
    );
}

input[type="submit"].LR-sign-up-submit:active,
input[type="submit"].LR-sign-up-submit.active {
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#55ba3f),
    to(#168b47)
  );
  background-image: -webkit-linear-gradient(top, #55ba3f, #168b47);
  background-image: -o-linear-gradient(top, #55ba3f, #168b47);
  background-image: linear-gradient(to bottom, #55ba3f, #168b47);
  background-image: -moz-linear-gradient(top, #55ba3f, #168b47);
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr="#55BA3F",
      endColorstr="#168B47",
      GradientType=0
    );
}

.LR-extra-fields input[type="submit"].LR-sign-up-submit {
  width: 340px;
  margin: 0 4px;
  border: 1px solid #000;
}

.LR-sign-up-input.first-name,
.LR-sign-up-input.last-name,
.LR-sign-up-input.company,
.LR-sign-up-input.phone-number,
.LR-sign-up-input.zipcode,
.LR-sign-up-input.birthdate {
  display: none;
}

.LR-extra-fields input[type="email"].LR-sign-up-input,
.LR-extra-fields input[type="text"].LR-sign-up-input,
.LR-extra-fields input[type="tel"].LR-sign-up-input {
  display: block;
  width: 316px;
  margin: 0 4px 10px;
  border: 1px solid #000;
}

.LR-extra-fields input[type="text"].LR-sign-up-input.half {
  width: 141px;
}

.LR-site-share .LR-site-share-container {
  float: left;
}

.LR-site-social-share {
  margin: 0 auto;
  min-height: 20px;
  position: relative;
  z-index: 10;
}

.LR-site-share-inner {
  width: 345px;
  margin: 0;
}

.LR-share-label {
  display: block;
  margin: 0 0 5px;
  text-align: left;
  width: 100%;
  font-size: 16px;
}

.LR-site-social-share ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.LR-site-social-share ul li {
  float: left;
  height: 20px;
  margin: 0 2px 4px;
  min-width: 48px;
  float: left;
}

.LR-site-share-email {
  text-align: left;
  margin: 10px 0 0;
}

.LR-site-share-email input[type="text"],
.LR-site-share-email input[type="email"],
.LR-site-share-email textarea,
input.LR-share-link {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #231f20;
  background-color: #fff;
  height: auto;
  font-size: 12px;
  padding: 10px 12px 8px 12px;
  border: 1px solid #000;
  width: 320px;
  margin: 0 0 10px;
}

.LR-site-share-email input:focus,
.LR-site-share-email textarea:focus,
input.LR-share-link:focus {
  outline: 0;
}

.LR-site-share-email textarea {
  color: #9c9c9c;
  max-width: 320px;
}

.LR-site-share-email textarea:focus {
  color: #231f20;
}

.LR-site-share-email input[type="text"] {
  max-height: 42px;
}

input.LR-share-email-emails[type="email"] {
  padding-right: 59px;
  width: 273px;
}

input[type="submit"].LR-share-email-send {
  margin: 0 0 9px;
  cursor: pointer;
  z-index: 2;
  right: 0;
  top: 0;
  border: 1px solid #000;
  color: #ffffff;
  padding: 11px 5%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #168b47;
  *background-color: #0044cc;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#55ba3f),
    to(#168b47)
  );
  background-image: -webkit-linear-gradient(top, #55ba3f, #168b47);
  background-image: -o-linear-gradient(top, #55ba3f, #168b47);
  background-image: linear-gradient(to bottom, #55ba3f, #168b47);
  background-image: -moz-linear-gradient(top, #55ba3f, #168b47);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr="#ff0088cc",
      endColorstr="#ff0044cc",
      GradientType=0
    );
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  width: 346px;
  max-height: 42px;
  text-align: center;
}

input[type="submit"].LR-share-email-send:hover,
input[type="submit"].LR-share-email-send[disabled] {
  color: #ffffff;
  background-color: #168b47;
  *background-color: #168b47;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#168b47),
    to(#168b47)
  );
  background-image: -webkit-linear-gradient(top, #168b47, #168b47);
  background-image: -o-linear-gradient(top, #168b47, #168b47);
  background-image: linear-gradient(to bottom, #168b47, #168b47);
  background-image: -moz-linear-gradient(top, #168b47, #168b47);
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr="#168B47",
      endColorstr="#168B47",
      GradientType=0
    );
}

input[type="submit"].LR-share-email-send:active,
input[type="submit"].LR-share-email-send.active {
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#55ba3f),
    to(#168b47)
  );
  background-image: -webkit-linear-gradient(top, #55ba3f, #168b47);
  background-image: -o-linear-gradient(top, #55ba3f, #168b47);
  background-image: linear-gradient(to bottom, #55ba3f, #168b47);
  background-image: -moz-linear-gradient(top, #55ba3f, #168b47);
  filter: progid:dximagetransform.microsoft.gradient(
      startColorstr="#55BA3F",
      endColorstr="#168B47",
      GradientType=0
    );
}

.LR-email-wrapper {
  position: relative;
}

.LR-site-share-email .email-wrapper input[type="email"] {
}

.LR-share-email-import {
  position: absolute;
  top: 2px;
  right: 7px;
  z-index: 2;
  padding: 7px 7px;
  cursor: pointer;
}

.LR-site-share-link {
  margin: 0 0 10px;
  width: 100%;
}

.LR-site-social-share ul li.LR-share-facebook-like {
  min-width: 49px;
}

.LR-site-social-share ul li.LR-share-facebook-send {
  min-width: 52px;
}

.LR-site-social-share ul li.LR-share-tweet {
  min-width: 55px;
}

.LR-site-social-share ul li.LR-share-linkedin {
  min-width: 59px;
}

.LR-site-social-share ul li.LR-share-tumblr {
  min-width: 81px;
}

.LR-site-connect {
  width: 100%;
  margin: 0 auto 0;
  float: left;
}

.LR-site-connect .LR-share-label {
}

.LR-site-connect ul {
  width: 270px;
  margin: 0 0 0 -10px;
  padding: 0;
}

.LR-content .LR-connect-share-links li {
  list-style-type: none;
  display: block;
}

.LR-connect-icon.connect-instagram {
  background-position: 0 -64px;
}

.LR-connect-icon.connect-rss {
  background-position: 0 -32px;
}

.LR-connect-icon.connect-youtube {
  background-position: 0 -96px;
}

.LR-connect-icon.connect-twitter {
  background-position: 0 0;
}

.LR-connect-icon.connect-pinterest {
  background-position: 0 -128px;
}

.LR-connect-icon.connect-facebook {
  background-position: 0 -16px;
}

.LR-connect-icon.connect-tumblr {
  background-position: 0 -48px;
}

.LR-connect-icon.connect-github {
  background-position: 0 -112px;
}

.LR-connect-icon.connect-vimeo {
  background-position: 0 -80px;
}

.LR-connect-icon.connect-blog {
  background-position: 0 -144px;
}

.LR-site-live-stats {
  width: 100%;
  float: left;
  padding: 0 0 10px;
  margin: 0;
}

.LR-site-live-stats-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.LR-live-stats-data {
  text-align: center;
  width: 30%;
  float: left;
}

.LR-live-stats-data.signups {
  margin-left: 2%;
}

.LR-stats-clicks,
.LR-stats-signups {
  background: #fff;
  color: #333;
  font-size: 30px;
  padding: 10px;
  border: 1px solid #000;
  line-height: 1em;
}

.LR-site-incentive {
  width: 100%;
  margin: 0 0 20px;
  text-align: left;
  font-size: 20px;
  line-height: 1.5em;
  max-width: 500px;
}

.LR-pwd-lr {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
}

.LR-share-email-hide {
  display: none;
}

.LR-lxWrapper {
  width: 408px;
  min-height: 130px;
  display: none;
  float: left;
  margin: 5px 0 0;
}

.LR-lx .LR-lxWrapper {
  display: block;
}

.LR-lxMssg {
  text-align: left;
  padding: 0 0 10px;
  font-size: 16px;
}

.LR-lxContainer {
  width: 198px;
  height: 128px;
  float: left;
  position: relative;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.LR-lxContainer.LR-right {
  float: right;
}

.LR-lxImg,
.LR-lxTxt {
  position: relative;
  z-index: 1;
}

.LR-lxTxt {
  width: 91%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.4em;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.LR-lxImg img {
  height: 80px;
  width: 110px;
  margin: 8px 0 0;
}

.LR-lxBG {
  position: absolute;
  z-index: 0;
  background: #000;
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.LR-lxContainer:hover .LR-lxBG {
  opacity: 1;
  filter: alpha(opacity=100);
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.8);
  box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.8);
}

.LR-incentivesContainer {
  text-align: left;
  margin: 0 0 17px;
  font-size: 12px;
}

.LR-incentives .LR-incentivesContainer {
  display: block;
}

.LR-incentiveTier {
  display: inline-block;
  vertical-align: middle;
  width: 190px;
  margin: 0 12px 0 0;
}

.LR-incentiveCount {
  display: inline-block;
  font-size: 28px;
  background: #282527;
  color: #fff;
  width: 57px;
  margin: 0;
  line-height: 57px;
  text-shadow: none;
  font-weight: 600;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  text-align: center;
  vertical-align: middle;
}

.LR-incentiveMssg {
  display: inline-block;

  vertical-align: middle;
  width: 125px;
  margin: 0 0 0 5px;
  font-weight: 400;
}
