link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
.container
  .row
    br
    br
    .col-md-offset-3.col-md-4
      form(method='post', action='http://localhost:3000/users/register')
        .form-group
          label Name
          input.form-control(type='text', placeholder='Name', name='name')
        .form-group
          label Username
          input.form-control(type='text', placeholder='Username', name='username')
        .form-group
          label Email
          input.form-control(type='email', placeholder='Email', name='email')
        .form-group
          label Password
          input.form-control(type='password', placeholder='Password', name='password')
        .form-group
          label Confirm Password
          input.form-control(type='password', placeholder='Password', name='password2')
        button.btn.btn-default(type='submit') Submit
