.app {
  background-image: linear-gradient(75deg, #ffe2a4 0%, #ff8e82 100%);
  font-family: "Raleway", sans-serif;
}

.app-contents {
  margin-right: 50px;
  margin-left: 50px;
}

.header-module {
  border-radius: 0% !important;
  background-color: #323c40 !important;
  border: 1px solid #000000 !important;
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4) !important;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4) !important;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4) !important;
}

.list-item {
  color: #ffffff !important;
  padding: 10px !important;
  border-radius: 0% !important;
  background-color: #323c40 !important;
  border: 1px solid #000000 !important;
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4) !important;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4) !important;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
    inset -2px -2px 2px rgba(0, 0, 0, 0.4) !important;
}

.list-item-header {
  color: #ffffff !important;
}

.header-search > input {
  border-radius: 0% !important;
}

.highlight {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}
