.jumbotron {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(0deg, #fff 0%, #f7f7f7 100%);
  margin-top: 45px;
  padding: 0px 0 0;
  margin-bottom: 50px;
}

.jumbotron h3 {
  text-align: center;
}
.sort-header * {
  display: inline-block;
}
.sort-header .fas {
  font-size: 1.25em;
  color: #555;
  margin-right: 10px;
  margin-left: 10px;
}
.sort-header {
  font-weight: 900;
  margin-top: -50px;
}
