.top-authors-section {
  padding: 50px;
}

.top-authors-section h5 {
  font-size: 20px;
  font-weight: 400;
}

.top-authors-section hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.top-authors-section .ui.grid > .top-author-row {
  margin-top: 0px;
  border: 5px solid #f0f0f0;
  overflow: hidden;
  border-radius: 20px 0px 20px 0px;
  padding-left: -50px !important;
  background: #e6e6e6;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.15);
  padding-top: 0px;
  padding-bottom: 0px;
}

.top-authors-section .ui.grid > .half-circle-row {
  padding-top: 0px;
  padding-bottom: 0px;
}

.top-authors-section .half-circle {
  width: 38px;
  color: #f0f0f0;
  text-align: center;
  border: 1.5px solid black;
  margin: 0;
  border-radius: 360px;
  padding: 5px;
  margin-left: -15px;
  margin-top: -15px;
  background: linear-gradient(75deg, #b3f400 0%, #f4e700 100%);
  background: #313131;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: 800;
}

.top-authors-section .ui.grid > .row > .name-column {
  padding: 0px;
  margin: 0px;
}

.top-authors-section .ui.grid > .row > .name-column > p {
  margin: 0;
  margin-bottom: 5px;
  border-radius: 20px 0 0 0;
  padding: 7.5px;
  padding-left: 25px !important;
  background: #212121;
  color: #c0c0c0;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.top-authors-section .ui.grid > .row > .name-column > .votes {
  letter-spacing: 0.75px;
  padding: 3px;
  color: red;
  margin-top: 0;
  padding-left: 25px !important;
}

.top-authors-section .ui.grid > .row > .name-column > .votes .upvotes {
  color: green;
  margin-right: 5px;
}

.top-authors-section .ui.grid > .row > .name-column > .votes .downvotes {
  color: red;
}

.top-authors-section .ui.grid > .row > .image-column {
  padding: 0px;
  margin: 0px;
}

.top-authors-section .ui.grid > .row > .image-column img {
  float: right;
  height: 60px;
  width: 60px;
}
.top-authors-section .downvotes {
  color: red;
}
