.top-contents-section {
  border-radius: 15px;
  min-height: 400px;
  width: 95%;
  padding: 50px;
  margin-right: 0 !important;
  padding-right: 0px;
}

.top-contents-section h5 {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.top-contents-section hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.top-contents-section .top-content-number-column {
  margin-top: 25px !important;
  padding-top: 25px;
  margin: 0px;
  background: #f0f0f0;
  border-radius: 360px;
  height: 125px;
}

.top-contents-section .top-content-number-column > h1 {
  font-size: 3.5em;
  text-shadow: 3px 3px 1px #d0d0d0;
  margin: 0;
  margin-top: 0px;
  padding: 0;
}

.top-contents-section .top-content-number-column > h1 > sup {
  font-size: 0.4em;
  top: -20px;
  right: 1px;
  color: #414141;
}

.top-contents-section .top-content {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.24);
  font-size: 0.85em;
  border-radius: 10px;
  margin: 15px;
  margin-left: 10px !important;
  margin-right: 0px !important;
  margin-bottom: 50px;
}

.top-contents-section .top-content-text {
  color: #212121;
  padding: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px 5px 0 0;
  background: #f0f0f0;
}

.top-contents-section .votes {
  float: right;
}

.top-contents-section .upvotes {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.125rem;
  padding: 10px 20px 10px 20px;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Spinnaker", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #4caf50;
}

.top-contents-section .downvotes {
  display: inline-block;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.125rem;
  padding: 10px 20px 10px 20px;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Spinnaker", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #f44336;
}

.top-contents-section .top-content-text-info {
  background: #212121;
  color: white;
  min-width: 100%;
  padding: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0 0 5px 5px;
  text-align: center;
  font-weight: 400;
}

.top-contents-section .top-content-text-info a {
  color: #009688;
  text-decoration: none;
  background-color: transparent;
}

.top-contents-section .top-content-stamps {
  margin-left: 15px;
  color: #e0e0e0;
  margin-bottom: 25px;
  margin-top: 10px;
  font-size: 1.8em !important;
}

.top-contents-section .top-content-stamps .top-content-date-stamp {
  float: left;
  color: #e0e0e0;
  display: flex;
  align-items: center;
}

.top-contents-section .top-content-date-stamp .fa-clock {
  font-size: 0.9em;
}

.top-contents-section .top-content-icon-stamps {
  float: right;
  margin-right: 7.5px;
  color: #e0e0e0;
  margin-bottom: 25px;
}
