<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>experiment</title>
</head>
<body>
    <h1>different route</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('testevent', function(data){document.write(data)});
  socket.on('message', function(data){document.write(data)});

</script>
</body>
</html>