.profile-content {
  background-color: white;
  padding: 15px 15px 30px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.row-visible {
  visibility: visible;
}

.row-hidden {
  visibility: hidden;
}

.active-filter {
  font-size: 20px;
  padding: 0 5px 0 5px;
  border-bottom: 3px solid black;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.filter {
  font-size: 20px;
  padding: 0 5px 0 5px;
  border-bottom: 3px solid #a5a5a5;
  color: #a5a5a5;
  cursor: pointer;
}
