.textFont {
  font-family: "League Spartan Bold", arial, serif;
}

.period {
  font-family: "League Spartan Bold", arial, serif;
  font-size: 9px;
  margin-top: 20px;
  line-height: 11px;
  padding: 0;
}

.activity {
  padding: 15px 25px 15px 25px;
  background: #f39200;
}

.row-margin {
  margin-top: 20px;
}

.legend {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.activityContents {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #0a054a;
}

.activityContentsQoute {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #0a054a;
  font-style: italic;
}

.activityScoreUp {
  font-family: "League Spartan Bold", arial, serif;
  font-size: 14px;
  line-height: 17px;
  color: #00ff19;
}

.activityScoreDown {
  font-family: "League Spartan Bold", arial, serif;
  font-size: 14px;
  line-height: 17px;
  color: #ff0000;
}

.activityScore {
  font-family: "League Spartan Bold", arial, serif;
  font-size: 14px;
  line-height: 17px;
}
