.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  color: rgba(0, 0, 0, 0.8500);
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-size: 15.1px;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bfeaee;
}

.App .primaryBg {
  background-color: #bfeaee;
}

.App .highlightTextColor {
  color: #0091d5;
}

.App .highlightBg {
  background-color: #0091d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
}
.mui-btn--primary {
    background-color: #bfeaee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c6ecef;
}
.mui-btn--accent {
    background-color: #0091d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #199cd9;
}
.mui-textfield {
   padding-top: 0;
   margin-bottom: 0;
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 17.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 17.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}

.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bfeaee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 14px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.App .layoutFlow {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  float: left;
}
.App .layoutFlow:after {
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.App .compContent {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .hasNestedComps .foreground {
  position: absolute;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* This component has a fixed-size layout */
  .RecItemEmpty {
    height: 82px;
    width: 100%; /* This component was designed using a width of 650px */
  }


  .RecItemEmpty .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 649px;
    height: 82px;
  }


  .RecItemEmpty .elText {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 593px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemJayZ {
    height: 82px;
    width: 100%; /* This component was designed using a width of 650px */
  }


  .RecItemJayZ .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 649px;
    height: 82px;
  }


  .RecItemJayZ .elText {
    position: absolute;
    left: 20px;
    top: 12px;
    width: 593px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemNas {
    height: 82px;
    width: 100%; /* This component was designed using a width of 650px */
  }


  .RecItemNas .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 649px;
    height: 82px;
  }


  .RecItemNas .elText {
    position: absolute;
    left: 20px;
    top: 8px;
    width: 593px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemBIG {
    height: 82px;
    width: 100%; /* This component was designed using a width of 650px */
  }


  .RecItemBIG .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 649px;
    height: 82px;
  }


  .RecItemBIG .elText {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 593px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItem2pac {
    height: 82px;
    width: 100%; /* This component was designed using a width of 650px */
  }


  .RecItem2pac .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 649px;
    height: 82px;
  }


  .RecItem2pac .elText {
    position: absolute;
    left: 20px;
    top: 8px;
    width: 593px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemEmpty2 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemEmpty2 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemEmpty2 .elText {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemJayZ2 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemJayZ2 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemJayZ2 .elRecTitle {
    position: absolute;
    left: 33px;
    top: 12px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemNas2 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemNas2 .elCBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemNas2 .elRecTitle {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemBIG2 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemBIG2 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemBIG2 .elRecTitle {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItem2pac2 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItem2pac2 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItem2pac2 .elRectTitle {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemEmpty4 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemEmpty4 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemEmpty4 .elText {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemJayZ4 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemJayZ4 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemJayZ4 .elText {
    position: absolute;
    left: 33px;
    top: 12px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemNas4 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemNas4 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemNas4 .elText {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemBIG4 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemBIG4 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemBIG4 .elText {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItem2pac4 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItem2pac4 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItem2pac4 .elText {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .SongList {
    height: 410px;
    width: 100%; /* This component was designed using a width of 650px */
  }


  .SongList .elRecItemEmpty {
    position: absolute;
    left: 0px;
    top: 328px;
    width: 650px;
    height: 82px;
  }


  .SongList .elRecItemJayZ {
    position: absolute;
    left: 0px;
    top: 246px;
    width: 650px;
    height: 82px;
  }


  .SongList .elRecItemNas {
    position: absolute;
    left: 0px;
    top: 164px;
    width: 650px;
    height: 82px;
  }


  .SongList .elRecItemBIG {
    position: absolute;
    left: 0px;
    top: 82px;
    width: 650px;
    height: 82px;
  }


  .SongList .elRecItem2pac {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 650px;
    height: 82px;
  }

/* This component has a fixed-size layout */
  .SongList2 {
    height: 412px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .SongList2 .elRecItemEmpty2 {
    position: absolute;
    left: 0px;
    top: 328px;
    width: 984px;
    height: 84px;
  }


  .SongList2 .elRecItemJayZ2 {
    position: absolute;
    left: 0px;
    top: 246px;
    width: 984px;
    height: 84px;
  }


  .SongList2 .elRecItemNas2 {
    position: absolute;
    left: 0px;
    top: 164px;
    width: 984px;
    height: 84px;
  }


  .SongList2 .elRecItemBIG2 {
    position: absolute;
    left: 0px;
    top: 82px;
    width: 984px;
    height: 84px;
  }


  .SongList2 .elRecItem2pac2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 84px;
  }

/* This component has a fixed-size layout */
  .CSearchBar {
    height: 92px;
    width: 100%; /* This component was designed using a width of 602px */
  }


  .CSearchBar .elBox {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 602px;
    height: 92px;
  }


  .CSearchBar .elSearch {
    position: absolute;
    left: 421px;
    top: 16px;
    width: 168px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .SongList5 {
    height: 412px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .SongList5 .elRecItemEmpty4 {
    position: absolute;
    left: 0px;
    top: 328px;
    width: 984px;
    height: 84px;
  }


  .SongList5 .elRecItemJayZ4 {
    position: absolute;
    left: 0px;
    top: 246px;
    width: 984px;
    height: 84px;
  }


  .SongList5 .elRecItemNas4 {
    position: absolute;
    left: 0px;
    top: 164px;
    width: 984px;
    height: 84px;
  }


  .SongList5 .elRecItemBIG4 {
    position: absolute;
    left: 0px;
    top: 82px;
    width: 984px;
    height: 84px;
  }


  .SongList5 .elRecItem2pac4 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 84px;
  }

/* This component has a fixed-size layout */
  .CTopArtists33M {
    height: 552px;
    width: 100%; /* This component was designed using a width of 650px */
  }


  .CTopArtists33M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 649px;
    height: 554px;
  }


  .CTopArtists33M .elSongList {
    position: absolute;
    left: 0px;
    top: 114px;
    width: 650px;
    height: 410px;
  }


  .CTopArtists33M .elHeader {
    position: absolute;
    left: 21px;
    top: 40px;
    width: 593px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CRecommendedSongs50M {
    height: 552px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .CRecommendedSongs50M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 554px;
  }


  .CRecommendedSongs50M .elSongList2 {
    position: absolute;
    left: 0px;
    top: 114px;
    width: 984px;
    height: 412px;
  }


  .CRecommendedSongs50M .elHeader {
    position: absolute;
    left: 35px;
    top: 40px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CNavBarUnAuth100M {
    height: 130px;
    width: 100%; /* This component was designed using a width of 2048px */
  }


  .CNavBarUnAuth100M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2048px;
    height: 130px;
  }


  .CNavBarUnAuth100M .elCSearchBar {
    position: absolute;
    left: 1364px;
    top: 20px;
    width: 602px;
    height: 92px;
  }


  .CNavBarUnAuth100M .elSCOREBOARD {
    position: absolute;
    left: 187px;
    top: 36px;
    width: 352px;
    height: 72px;
  }


  .CNavBarUnAuth100M .elLine {
    position: absolute;
    left: 576px;
    top: 26px;
    width: 4px;
    height: 91px;
  }


  .CNavBarUnAuth100M .elSIGNIN {
    position: absolute;
    left: 619px;
    top: 38px;
    width: 206px;
    height: 72px;
  }


  .CNavBarUnAuth100M .elHHSBLyricPageA_06 {
    position: absolute;
    left: 20px;
    top: 12px;
    width: 132px;
    height: 108px;
  }

/* This component has a fixed-size layout */
  .CTrendingSongs50M {
    height: 554px;
    width: 100%; /* This component was designed using a width of 986px */
  }


  .CTrendingSongs50M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 554px;
  }


  .CTrendingSongs50M .elSongList5 {
    position: absolute;
    left: 0px;
    top: 114px;
    width: 984px;
    height: 412px;
  }


  .CTrendingSongs50M .elHeader {
    position: absolute;
    left: 35px;
    top: 40px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CWelcome66M {
    height: 552px;
    width: 100%; /* This component was designed using a width of 1298px */
  }


  .CWelcome66M .elRectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1298px;
    height: 552px;
  }


  .CWelcome66M .elBox100M {
    position: absolute;
    left: 0px;
    top: 114px;
    width: 1298px;
    height: 438px;
  }


  .CWelcome66M .elBody {
    position: absolute;
    left: 25px;
    top: 146px;
    width: 1250px;
    height: 402px;
  }


  .CWelcome66M .elHeader {
    position: absolute;
    left: 29px;
    top: 40px;
    width: 470px;
    height: 72px;
  }

.HomepageDesktopUnAuthScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCRecommendedSongs50M {
    position: absolute;
    left: 651px;
    top: 475px;
    width: 984px;
    height: 552px;
  }
  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCRecommendedSongs50M .containerMinHeight {
    min-height: 552px;
  }



  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCTrendingSongs50M {
    position: absolute;
    left: 25px;
    top: 478px;
    width: 986px;
    height: 554px;
  }
  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCTrendingSongs50M .containerMinHeight {
    min-height: 554px;
  }



  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCTopArtists33M {
    position: absolute;
    left: 849px;
    top: 109px;
    width: 650px;
    height: 552px;
  }
  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCTopArtists33M .containerMinHeight {
    min-height: 552px;
  }



  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCWelcome66M {
    position: absolute;
    left: 26px;
    top: 106px;
    width: 1298px;
    height: 552px;
  }
  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCWelcome66M .containerMinHeight {
    min-height: 552px;
  }



  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCNavBarUnAuth100M {
    position: absolute;
    left: -4px;
    top: 4px;
    width: 2048px;
    height: 130px;
  }
  .HomepageDesktopUnAuthScreen > .screenFgContainer > .foreground > .elCNavBarUnAuth100M .containerMinHeight {
    min-height: 130px;
  }


/* This component has a fixed-size layout */
  .CNavBarAuth100M {
    height: 130px;
    width: 100%; /* This component was designed using a width of 2048px */
  }


  .CNavBarAuth100M .elRectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2048px;
    height: 130px;
  }


  .CNavBarAuth100M .elCSearchBar {
    position: absolute;
    left: 1426px;
    top: 24px;
    width: 602px;
    height: 92px;
  }


  .CNavBarAuth100M .elSIGNOUT {
    position: absolute;
    left: 935px;
    top: 34px;
    width: 246px;
    height: 72px;
  }


  .CNavBarAuth100M .elLine {
    position: absolute;
    left: 892px;
    top: 24px;
    width: 4px;
    height: 91px;
  }


  .CNavBarAuth100M .elACCOUNT {
    position: absolute;
    left: 601px;
    top: 36px;
    width: 254px;
    height: 72px;
  }


  .CNavBarAuth100M .elLine2 {
    position: absolute;
    left: 558px;
    top: 26px;
    width: 4px;
    height: 91px;
  }


  .CNavBarAuth100M .elSCOREBOARD {
    position: absolute;
    left: 169px;
    top: 36px;
    width: 352px;
    height: 72px;
  }


  .CNavBarAuth100M .elHHSBLyricPageA_06 {
    position: absolute;
    left: 14px;
    top: 12px;
    width: 132px;
    height: 108px;
  }

/* This component has a fixed-size layout */
  .CToggle {
    height: 50px;
    width: 100%; /* This component was designed using a width of 228px */
  }


  .CToggle .elToggleOn {
    position: absolute;
    left: 82px;
    top: 0px;
    width: 78px;
    height: 50px;
  }


  .CToggle .elGlobal {
    position: absolute;
    left: -5px;
    top: 10px;
    width: 82px;
    height: 39px;
  }


  .CToggle .elLocal {
    position: absolute;
    left: 171px;
    top: 8px;
    width: 62px;
    height: 39px;
  }

/* This component has a fixed-size layout */
  .CVoteButton {
    height: 58px;
    width: 100%; /* This component was designed using a width of 158px */
  }


  .CVoteButton .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 158px;
    height: 58px;
  }


  .CVoteButton .elNeutrCircle {
    position: absolute;
    left: 56px;
    top: 8px;
    width: 44px;
    height: 44px;
  }


  .CVoteButton .elDownCircle {
    position: absolute;
    left: 108px;
    top: 8px;
    width: 44px;
    height: 44px;
  }


  .CVoteButton .el_ {
    position: absolute;
    left: 113px;
    top: -22px;
    width: 34px;
    height: 72px;
  }


  .CVoteButton .elUpCircle {
    position: absolute;
    left: 6px;
    top: 8px;
    width: 44px;
    height: 44px;
  }


  .CVoteButton .elV {
    position: absolute;
    left: 7px;
    top: -4px;
    width: 42px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CUserFeed100M {
    height: 550px;
    width: 100%; /* This component was designed using a width of 1974px */
  }


  .CUserFeed100M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1974px;
    height: 550px;
  }


  .CUserFeed100M .elVoteEventItem {
    position: absolute;
    left: 0px;
    top: 126px;
    width: 1974px;
    height: 82px;
  }


  .CUserFeed100M .elNewSongItem {
    position: absolute;
    left: 0px;
    top: 208px;
    width: 1974px;
    height: 82px;
  }


  .CUserFeed100M .elHeader {
    position: absolute;
    left: 25px;
    top: 40px;
    width: 967px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .VoteEventItem {
    height: 82px;
    width: 100%; /* This component was designed using a width of 1974px */
  }


  .VoteEventItem .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1974px;
    height: 82px;
  }


  .VoteEventItem .elNewSongItem {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 1830px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .NewSongItem {
    height: 82px;
    width: 100%; /* This component was designed using a width of 1974px */
  }


  .NewSongItem .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1974px;
    height: 82px;
  }


  .NewSongItem .elUserFeedBody {
    position: absolute;
    left: 25px;
    top: 10px;
    width: 1862px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CFantasyLabel33M {
    height: 1376px;
    width: 100%; /* This component was designed using a width of 558px */
  }


  .CFantasyLabel33M .elBackGround {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 558px;
    height: 1376px;
  }


  .CFantasyLabel33M .elCBox100M {
    position: absolute;
    left: 0px;
    top: 442px;
    width: 556px;
    height: 82px;
  }


  .CFantasyLabel33M .elCText {
    position: absolute;
    left: 17px;
    top: 452px;
    width: 510px;
    height: 72px;
  }


  .CFantasyLabel33M .elCBox100M2 {
    position: absolute;
    left: 0px;
    top: 360px;
    width: 556px;
    height: 82px;
  }


  .CFantasyLabel33M .elCText2 {
    position: absolute;
    left: 17px;
    top: 372px;
    width: 510px;
    height: 72px;
  }


  .CFantasyLabel33M .elLabelItemNas {
    position: absolute;
    left: 0px;
    top: 278px;
    width: 558px;
    height: 82px;
  }


  .CFantasyLabel33M .elLabelItemBIG {
    position: absolute;
    left: 0px;
    top: 196px;
    width: 558px;
    height: 82px;
  }


  .CFantasyLabel33M .elLabelItem2pac {
    position: absolute;
    left: 0px;
    top: 114px;
    width: 558px;
    height: 82px;
  }


  .CFantasyLabel33M .elHeader {
    position: absolute;
    left: 83px;
    top: 28px;
    width: 400px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .LabelItemNas {
    height: 82px;
    width: 100%; /* This component was designed using a width of 558px */
  }


  .LabelItemNas .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 556px;
    height: 82px;
  }


  .LabelItemNas .elText {
    position: absolute;
    left: 17px;
    top: 8px;
    width: 510px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .LabelItemBIG {
    height: 82px;
    width: 100%; /* This component was designed using a width of 558px */
  }


  .LabelItemBIG .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 556px;
    height: 82px;
  }


  .LabelItemBIG .elText {
    position: absolute;
    left: 17px;
    top: 10px;
    width: 510px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .LabelItem2pac {
    height: 82px;
    width: 100%; /* This component was designed using a width of 558px */
  }


  .LabelItem2pac .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 556px;
    height: 82px;
  }


  .LabelItem2pac .elText {
    position: absolute;
    left: 17px;
    top: 8px;
    width: 510px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CUserWallAuth100M {
    height: 1292px;
    width: 100%; /* This component was designed using a width of 1488px */
  }


  .CUserWallAuth100M .elCBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1488px;
    height: 1292px;
  }


  .CUserWallAuth100M .elN2PacItem {
    position: absolute;
    left: 0px;
    top: 84px;
    width: 1488px;
    height: 144px;
  }


  .CUserWallAuth100M .elCHeader {
    position: absolute;
    left: 601px;
    top: 10px;
    width: 234px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .N2PacItem {
    height: 144px;
    width: 100%; /* This component was designed using a width of 1488px */
  }


  .N2PacItem .elCBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1488px;
    height: 144px;
  }


  .N2PacItem .elCQuoteText {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 1424px;
    height: 138px;
  }


  .N2PacItem .elCRemoveX {
    position: absolute;
    left: 1442px;
    top: 12px;
    width: 33px;
    height: 35px;
  }

/* This component has a fixed-size layout */
  .CMediaInfoBar66M {
    height: 188px;
    width: 100%; /* This component was designed using a width of 1492px */
  }


  .CMediaInfoBar66M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1492px;
    height: 188px;
  }


  .CMediaInfoBar66M .elCBackground {
    position: absolute;
    left: 0px;
    top: 14px;
    width: 1492px;
    height: 162px;
  }


  .CMediaInfoBar66M .elCEmbededSong {
    position: absolute;
    left: 1050px;
    top: 58px;
    width: 354px;
    height: 76px;
  }


  .CMediaInfoBar66M .elArtistAndSong {
    position: absolute;
    left: 71px;
    top: 48px;
    width: 476px;
    height: 116px;
  }

/* This component has a fixed-size layout */
  .HHSBIcon {
    height: 108px;
    width: 100%; /* This component was designed using a width of 132px */
  }


  .HHSBIcon .elHHSBLyricPageA_06 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 132px;
    height: 108px;
  }

/* This component has a fixed-size layout */
  .CPublicFeed100M {
    height: 550px;
    width: 100%; /* This component was designed using a width of 1968px */
  }


  .CPublicFeed100M .elFeedItem {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1968px;
    height: 550px;
  }


  .CPublicFeed100M .elHeader {
    position: absolute;
    left: 25px;
    top: 40px;
    width: 964px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .FeedItem {
    height: 550px;
    width: 100%; /* This component was designed using a width of 1968px */
  }


  .FeedItem .elVoteEvent {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1968px;
    height: 550px;
  }


  .FeedItem .elBox100M {
    position: absolute;
    left: 0px;
    top: 210px;
    width: 1968px;
    height: 82px;
  }


  .FeedItem .elUserFeedBody {
    position: absolute;
    left: 25px;
    top: 220px;
    width: 1716px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .VoteEvent {
    height: 550px;
    width: 100%; /* This component was designed using a width of 1968px */
  }


  .VoteEvent .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1968px;
    height: 550px;
  }


  .VoteEvent .elBox100M {
    position: absolute;
    left: 0px;
    top: 128px;
    width: 1968px;
    height: 82px;
  }


  .VoteEvent .elNewSongItem {
    position: absolute;
    left: 25px;
    top: 138px;
    width: 1824px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CLyricBox {
    height: 1134px;
    width: 100%; /* This component was designed using a width of 1488px */
  }


  .CLyricBox .elBackground {
    position: absolute;
    left: 0px;
    top: -6px;
    width: 1492px;
    height: 1140px;
  }


  .CLyricBox .elLyrics {
    position: absolute;
    left: 138px;
    top: -26px;
    width: 1450px;
    height: 1188px;
  }


  .CLyricBox .elCShareButton {
    position: absolute;
    left: 1242px;
    top: 394px;
    width: 116px;
    height: 58px;
  }


  .CLyricBox .elCVoteButton {
    position: absolute;
    left: 1046px;
    top: 394px;
    width: 158px;
    height: 58px;
  }

/* This component has a fixed-size layout */
  .Lyrics {
    height: 1188px;
    width: 100%; /* This component was designed using a width of 1450px */
  }


  .Lyrics .elBackground {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 1276px;
    height: 1140px;
  }


  .Lyrics .elLyrics {
    position: absolute;
    left: 25px;
    top: 0px;
    width: 1430px;
    height: 1128px;
  }

/* This component has a fixed-size layout */
  .CTopUsers50M {
    height: 552px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .CTopUsers50M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 554px;
  }


  .CTopUsers50M .elSongList3 {
    position: absolute;
    left: 0px;
    top: 114px;
    width: 984px;
    height: 412px;
  }


  .CTopUsers50M .elHeader {
    position: absolute;
    left: 35px;
    top: 40px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .SongList3 {
    height: 412px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .SongList3 .elRecItemEmpty3 {
    position: absolute;
    left: 0px;
    top: 328px;
    width: 984px;
    height: 84px;
  }


  .SongList3 .elRecItemJayZ3 {
    position: absolute;
    left: 0px;
    top: 246px;
    width: 984px;
    height: 84px;
  }


  .SongList3 .elRecItemNas3 {
    position: absolute;
    left: 0px;
    top: 164px;
    width: 984px;
    height: 84px;
  }


  .SongList3 .elRecItemBIG3 {
    position: absolute;
    left: 0px;
    top: 82px;
    width: 984px;
    height: 84px;
  }


  .SongList3 .elRecItem2pac3 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 84px;
  }

/* This component has a fixed-size layout */
  .RecItemEmpty3 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemEmpty3 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemEmpty3 .elText {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemJayZ3 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemJayZ3 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemJayZ3 .elRecTitle {
    position: absolute;
    left: 33px;
    top: 12px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemNas3 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemNas3 .elCBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemNas3 .elRecTitle {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemBIG3 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemBIG3 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemBIG3 .elRecTitle {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItem2pac3 {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItem2pac3 .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItem2pac3 .elRectTitle {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CShareButton {
    height: 58px;
    width: 100%; /* This component was designed using a width of 116px */
  }


  .CShareButton .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 116px;
    height: 58px;
  }


  .CShareButton .elQuotes {
    position: absolute;
    left: 70px;
    top: 18px;
    width: 32px;
    height: 26px;
  }


  .CShareButton .elLine {
    position: absolute;
    left: 56px;
    top: 0px;
    width: 4px;
    height: 58px;
  }


  .CShareButton .elV5 {
    position: absolute;
    left: 1px;
    top: 2px;
    width: 60px;
    height: 61px;
  }

/* This component has a fixed-size layout */
  .CArtistMast100M {
    height: 592px;
    width: 100%; /* This component was designed using a width of 2048px */
  }


  .CArtistMast100M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2048px;
    height: 592px;
  }


  .CArtistMast100M .elCTopArtists33M {
    position: absolute;
    left: 1320px;
    top: 22px;
    width: 650px;
    height: 552px;
  }


  .CArtistMast100M .elRectangle {
    position: absolute;
    left: 36px;
    top: 0px;
    width: 912px;
    height: 592px;
  }


  .CArtistMast100M .elArtistStats {
    position: absolute;
    left: 503px;
    top: 64px;
    width: 376px;
    height: 336px;
  }


  .CArtistMast100M .elFollowButton {
    position: absolute;
    left: 76px;
    top: 442px;
    width: 362px;
    height: 100px;
  }


  .CArtistMast100M .elAvatarPic {
    position: absolute;
    left: 78px;
    top: 48px;
    width: 362px;
    height: 362px;
  }

/* This component has a fixed-size layout */
  .FollowButton {
    height: 100px;
    width: 100%; /* This component was designed using a width of 362px */
  }


  .FollowButton .elCBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 362px;
    height: 100px;
  }


  .FollowButton .elCLabel {
    position: absolute;
    left: 103px;
    top: 14px;
    width: 156px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .AvatarPic {
    height: 362px;
    width: 100%; /* This component was designed using a width of 362px */
  }


  .AvatarPic .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 362px;
    height: 362px;
  }


  .AvatarPic .elDefault {
    position: absolute;
    left: 59px;
    top: 148px;
    width: 218px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CTopArtists50M {
    height: 552px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .CTopArtists50M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 554px;
  }


  .CTopArtists50M .elSongList4 {
    position: absolute;
    left: 0px;
    top: 114px;
    width: 984px;
    height: 412px;
  }


  .CTopArtists50M .elHeader {
    position: absolute;
    left: 35px;
    top: 40px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .SongList4 {
    height: 412px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .SongList4 .elRecItemEmpty {
    position: absolute;
    left: 0px;
    top: 328px;
    width: 984px;
    height: 84px;
  }


  .SongList4 .elRecItemJayZ {
    position: absolute;
    left: 0px;
    top: 246px;
    width: 984px;
    height: 84px;
  }


  .SongList4 .elRecItemNas {
    position: absolute;
    left: 0px;
    top: 164px;
    width: 984px;
    height: 84px;
  }


  .SongList4 .elRecItemBIG {
    position: absolute;
    left: 0px;
    top: 82px;
    width: 984px;
    height: 84px;
  }


  .SongList4 .elRecItem2pac {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 84px;
  }

/* This component has a fixed-size layout */
  .RecItemEmptyComponent {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemEmptyComponent .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemEmptyComponent .elText {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemJayZComponent {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemJayZComponent .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemJayZComponent .elText {
    position: absolute;
    left: 33px;
    top: 12px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemNasComponent {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemNasComponent .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemNasComponent .elText {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItemBIGComponent {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItemBIGComponent .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItemBIGComponent .elText {
    position: absolute;
    left: 33px;
    top: 10px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .RecItem2pacComponent {
    height: 84px;
    width: 100%; /* This component was designed using a width of 984px */
  }


  .RecItem2pacComponent .elBox100M {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 984px;
    height: 82px;
  }


  .RecItem2pacComponent .elText {
    position: absolute;
    left: 33px;
    top: 8px;
    width: 894px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .CUserWallUnAuth100M {
    height: 1292px;
    width: 100%; /* This component was designed using a width of 1488px */
  }


  .CUserWallUnAuth100M .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1488px;
    height: 1292px;
  }


  .CUserWallUnAuth100M .elN2PacItem2 {
    position: absolute;
    left: 0px;
    top: 84px;
    width: 1488px;
    height: 144px;
  }


  .CUserWallUnAuth100M .elCHeader {
    position: absolute;
    left: 601px;
    top: 10px;
    width: 234px;
    height: 72px;
  }

/* This component has a fixed-size layout */
  .N2PacItem2 {
    height: 144px;
    width: 100%; /* This component was designed using a width of 1488px */
  }


  .N2PacItem2 .elBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1488px;
    height: 144px;
  }


  .N2PacItem2 .elQuoteText {
    position: absolute;
    left: 11px;
    top: 8px;
    width: 1424px;
    height: 138px;
  }

/* This component has a fixed-size layout */
  .CEmbededSong {
    height: 76px;
    width: 100%; /* This component was designed using a width of 354px */
  }


  .CEmbededSong .elHttpyoutube {
    position: absolute;
    left: 83px;
    top: 48px;
    width: 254px;
    height: 33px;
  }


  .CEmbededSong .elOval {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 64px;
    height: 64px;
  }


  .CEmbededSong .elTriangle {
    position: absolute;
    left: 16px;
    top: 8px;
    width: 46px;
    height: 46px;
  }


  .CEmbededSong .elLine {
    position: absolute;
    left: 348px;
    top: 12px;
    width: 4px;
    height: 42px;
  }


  .CEmbededSong .elLine2 {
    position: absolute;
    left: 74px;
    top: 12px;
    width: 4px;
    height: 42px;
  }


  .CEmbededSong .elLine3 {
    position: absolute;
    left: 76px;
    top: 30px;
    width: 278px;
    height: 4px;
  }

.HomepageDesktopAuthScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCUserFeed100M {
    position: absolute;
    left: 21px;
    top: 829px;
    width: 1974px;
    height: 550px;
  }
  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCUserFeed100M .containerMinHeight {
    min-height: 550px;
  }



  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCRecommendedSongs50M {
    position: absolute;
    left: 645px;
    top: 464px;
    width: 984px;
    height: 552px;
  }
  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCRecommendedSongs50M .containerMinHeight {
    min-height: 552px;
  }



  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCTrendingSongs50M {
    position: absolute;
    left: 23px;
    top: 468px;
    width: 986px;
    height: 554px;
  }
  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCTrendingSongs50M .containerMinHeight {
    min-height: 554px;
  }



  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCTopArtists33M {
    position: absolute;
    left: 859px;
    top: 106px;
    width: 650px;
    height: 552px;
  }
  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCTopArtists33M .containerMinHeight {
    min-height: 552px;
  }



  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCWelcome66M {
    position: absolute;
    left: 40px;
    top: 104px;
    width: 1298px;
    height: 552px;
  }
  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCWelcome66M .containerMinHeight {
    min-height: 552px;
  }



  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCNavBarAuth100M {
    position: absolute;
    left: 0px;
    top: 1px;
    width: 2048px;
    height: 130px;
  }
  .HomepageDesktopAuthScreen > .screenFgContainer > .foreground > .elCNavBarAuth100M .containerMinHeight {
    min-height: 130px;
  }


