name: ESLint Action

on: pull_request

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: hallee/eslint-action@master
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
