.wall {
  height: 200px;
  border-radius: 25px;
  padding: 20px;
}

.history {
  height: 550px;
  border-radius: 25px;
  padding: 20px;
}

.users-text {
  height: 200px;
  border-radius: 25px;
  padding: 20px;
}

.users-qoute {
  height: 300px;
  border-radius: 25px;
  padding: 20px;
}
